# Dependencies
/backend/node_modules
/vendor-panel/node_modules
/website-nextjs/node_modules
/broker-panel/node_modules
/user-website/node_modules

/vendor-panel/dist
/backend/dist

# OS
.DS_Store/website-nextjs/.next
